################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Api-Authentication/Adapters/Sql/Repository/RepositoryLogin.cs
